In [2]:
import pandas as  pd
import numpy as np
import os
import re
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

1. Read File

In [3]:
filename = r"E:\Business Support - Py\Py-a2\Sales_Data1.xlsx"
sales_channel_df = pd.read_excel(filename, sheet_name='Sales_Channel')
sales_df = pd.read_excel(filename, sheet_name='Sales')
product_df = pd.read_excel(filename, sheet_name='Product')
category_df = pd.read_excel(filename, sheet_name='Category')
sales_state_df = pd.read_excel(filename, sheet_name='Sales_State')
new_customer_df = pd.read_excel(filename,sheet_name= 'New customer')

In [4]:
sales_channel_df.drop_duplicates(inplace=True)
Count_null = sales_channel_df.isnull().sum()
if  Count_null.any() == False:
    print("There aren't any null values")
else:
    print(Count_null)

sales_channel_df.dropna(how='any', inplace=True)
sales_channel_df

There aren't any null values

   ChannelKey    ChannelName
0           1          Store
1           2         Online
2           3  Mobile Outlet
3           4       Reseller

In [5]:
sales_state_df.drop_duplicates(inplace=True)
Count_null = sales_state_df.isnull().sum()
if  Count_null.any() == False:
    print("There aren't any null values")
else:
    print(Count_null)
sales_state_df.dropna(how='any', inplace=True)
sales_state_df

There aren't any null values

    StateID      State
0         1    Vietnam
1         2        USA
2         3      Spain
3         4      China
4         5      Italy
5         6     France
6         7      Japan
7         8     Russia
8         9        UAE
9        10     Brazil
10       11    Denmark
11       12     Mexico
12       13      India
13       14  Argentina
14       15    Ukraine
15       16   Colombia
16       17  Singapore
17       18     Sweden
18       19      Egypt
19       20      Japan
20       21     Mexico
21       22    Ukraine
22       23   Pakistan
23       24    Germany
24       25        USA
25       26   Portugal
26       27      China
27       28      Japan
28       29     Russia
29       30      Spain
30       31    Plateau
31       32     Rivers
32       33     Sokoto
33       34     Taraba
34       35       Yobe
35       36    Zamfara
36       37        FCT

In [6]:
product_df.drop_duplicates(inplace=True)
Count_null = product_df.isnull().sum()
if  Count_null.any() == False:
    print("There aren't any null values")
else:
    print(Count_null)
product_df.dropna(how='any', inplace=True)

product_df

There aren't any null values

,ProductKey,ProductName,Manufacturer,BrandName
0,1,Contoso 512MB MP3 Player E51 Silver,"Contoso, Ltd",Contoso
1,2,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",Contoso
2,3,Contoso 1G MP3 Player E100 White,"Contoso, Ltd",Contoso
3,4,Contoso 2G MP3 Player E200 Silver,"Contoso, Ltd",Contoso
4,5,Contoso 2G MP3 Player E200 Red,"Contoso, Ltd",Contoso
...,...,...,...,...
1685,2513,Contoso Bluetooth Active Headphones L15 Red,"Contoso, Ltd",Contoso
1686,2514,Contoso Bluetooth Active Headphones L15 White,"Contoso, Ltd",Contoso
1687,2515,Contoso In-Line Coupler E180 White,"Contoso, Ltd",Contoso
1688,2516,Contoso In-Line Coupler E180 Black,"Contoso, Ltd",Contoso
1689,2517,Contoso In-Line Coupler E180 Silver,"Contoso, Ltd",Contoso

In [7]:
category_df.drop_duplicates(inplace=True)
Count_null = category_df.isnull().sum()
if  Count_null.any() == False:
    print("There aren't any null values")
else:
    print(Count_null)
category_df.dropna(how='any', inplace=True)

category_df

There aren't any null values

,ProductSubCategoryKey,Product Sub Category,Product Category
0,1,Digital SLR Cameras,Cameras and camcorders
1,2,MP4&MP3,Audio
2,3,Movie DVD,"Music, Movies and Audio Books"
3,4,Bluetooth Headphones,Audio
4,5,Car Video,TV and Video
5,6,Laptops,Computers
6,7,Camcorders,Cameras and camcorders
7,8,Smart phones & PDAs,Cell phones
8,9,Televisions,TV and Video
9,10,"Printers, Scanners & Fax",Computers
10,11,Recording Pen,Audio
11,12,Projectors & Screens,Computers
12,13,Digital Cameras,Cameras and camcorders
13,14,Monitors,Computers
14,15,Home Theater System,TV and Video
15,16,Home & Office Phones,Cell phones
16,17,Desktops,Computers
17,18,Computers Accessories,Computers
18,19,Cell phones Accessories,Cell phones
19,20,Touch Screen Phones,Cell phones
20,21,VCD & DVD,TV and Video
21,22,Cameras & Camcorders Accessories,Cameras and camcorders

In [8]:
new_customer_df.drop_duplicates(inplace=True)
Count_null = new_customer_df.isnull().sum()
if  Count_null.any() == False:
    print("There aren't any null values")
else:
    print(Count_null)
new_customer_df.dropna(how='any', inplace=True)

rename_cell ={
    'Mã khách hàng':'CustomerID',
    'Tên khách hàng':'Customer Name',  
}
new_customer_df.rename(columns=rename_cell, inplace=True)    

col_name = 'Email'
column = new_customer_df[col_name]
email_pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
all_emails_valid = True

for index, value in column.items():
    if not re.match(email_pattern, str(value)):
        all_emails_valid = False
        print(f"Line {index} is not an email address: {value}")
        new_customer_df.drop(index, inplace=True)

if all_emails_valid:
    print("All are valid email addresses.")
new_customer_df.insert(loc=3, column='Address', value=new_customer_df['Địa chỉ'].str.cat(new_customer_df['Quốc gia'], sep=', '))
new_customer_df.drop(columns=['Địa chỉ', 'Quốc gia'], inplace=True)

new_customer_df

There aren't any null values
All are valid email addresses.

,CustomerID,Customer Name,Address,Email
0,KH001,Nguyen Huu Lam,"Hung Ha , Thai Binh , Vietnam",nguyenvana@email.com
1,KH002,John Smith,"456 Main St, New York, USA",john.smith@email.com
2,KH003,Maria Garcia,"789 Plaza Mayor, Madrid, Spain",maria.garcia@email.com
3,KH004,Li Wei,"101 Tiananmen Square, Beijing, China",li.wei@email.com
4,KH005,Alessio Rossi,"222 Piazza del Duomo, Milan, Italy",alessio.rossi@email.com
...,...,...,...,...
145,KH146,Hiroshi Nakamura,"444 Meiji Shrine, Tokyo, Japan",hiroshi.nakamura@email.com
146,KH147,Maria Petrova,"555 St. Basil's Cathedral, Moscow, Russia",maria.petrova@email.com
147,KH148,Chen Wei,"666 The Great Wall, Beijing, China",chen.wei@email.com
148,KH149,Lena Andersson,"777 ABBA Museum, Stockholm, Sweden",lena.andersson@email.com
149,KH150,Ravi Patel,"888 Taj Mahal, Agra, India",ravi.patel@email.com

In [9]:
sales_df.drop_duplicates(inplace=True)
Count_null = sales_df.isnull().sum()
if  Count_null.any() == False:
    print("There aren't any null values")
else:
    print(Count_null)
sales_df.dropna(how='any', inplace=True)
sales_df

There aren't any null values

,Order ID,Order Date,Price,Order Qty,Total,ChannelKey,ProductKey,ProductSubCategoryKey,StateID
0,1618,2012-06-28,248.0,12,2976.0,4,663,10,14
1,432,2012-11-17,299.9,4,1199.6,1,197,15,9
2,905,2012-04-22,299.9,10,2999.0,1,197,15,2
3,7263,2012-10-02,299.0,10,2990.0,1,294,5,16
4,7702,2011-12-13,299.0,8,2392.0,1,294,5,8
...,...,...,...,...,...,...,...,...,...
14995,22348,2012-04-07,25.0,12,300.0,1,1299,22,35
14996,22349,2012-04-24,999.0,10,9990.0,4,625,12,21
14997,22350,2012-11-22,588.0,13,7644.0,1,1061,1,17
14998,22351,2013-05-10,279.0,12,3348.0,2,494,14,32
14999,22352,2014-03-06,15.9,20,318.0,1,771,18,34

In [10]:
int_columns = ['Order ID', 'Price', 'Order Qty', 'Total', 'ChannelKey', 'ProductKey', 'ProductSubCategoryKey', 'StateID']
date_column = 'Order Date   '

for column in int_columns:
    if sales_df[column].apply(lambda x: isinstance(x, int)).all():
        print(f"All values in column {column} are integer data types.")
    else:
        print(f"Column {column} contains values that are not of the integer data type.")

if sales_df[date_column].apply(lambda x: isinstance(x, pd.Timestamp)).all():
    print(f"All values in column {date_column} are date data type.")
else:
    print(f"Column {date_column} contains values that are not of the date data type.")

All values in column Order ID are integer data types.
Column Price contains values that are not of the integer data type.
All values in column Order Qty are integer data types.
Column Total contains values that are not of the integer data type.
All values in column ChannelKey are integer data types.
All values in column ProductKey are integer data types.
All values in column ProductSubCategoryKey are integer data types.
All values in column StateID are integer data types.
All values in column Order Date    are date data type.

In [11]:
Join_table = sales_df.merge(sales_channel_df,on="ChannelKey")
Join_table.drop(columns=['ChannelKey'], inplace=True)
Join_table = Join_table.merge(product_df[['ProductKey','ProductName']],on="ProductKey")
Join_table.drop(columns=['ProductKey'], inplace=True)
Join_table = Join_table.merge(category_df[['ProductSubCategoryKey','Product Category']],on="ProductSubCategoryKey")
Join_table.drop(columns=['ProductSubCategoryKey'], inplace=True)
Join_table = Join_table.merge(sales_state_df[['StateID','State']],on="StateID")
Join_table.drop(columns=['StateID'], inplace=True)
Join_table

,Order ID,Order Date,Price,Order Qty,Total,ChannelName,ProductName,Product Category,State
0,1618,2012-06-28,248.0,12,2976.0,Reseller,Proseware High-Performance Business-Class Lase...,Computers,Argentina
1,432,2012-11-17,299.9,4,1199.6,Store,Litware Home Theater System 2.1 Channel E212 B...,TV and Video,UAE
2,905,2012-04-22,299.9,10,2999.0,Store,Litware Home Theater System 2.1 Channel E212 B...,TV and Video,USA
3,7263,2012-10-02,299.0,10,2990.0,Store,SV Car Video TFT7 M7000 Black,TV and Video,Colombia
4,7702,2011-12-13,299.0,8,2392.0,Store,SV Car Video TFT7 M7000 Black,TV and Video,Russia
...,...,...,...,...,...,...,...,...,...
14995,22348,2012-04-07,25.0,12,300.0,Store,Contoso USB Cable M250 Blue,Cameras and camcorders,Yobe
14996,22349,2012-04-24,999.0,10,9990.0,Reseller,WWI Projector 720p DLP56 White,Computers,Mexico
14997,22350,2012-11-22,588.0,13,7644.0,Store,"A. Datum SLR Camera 35"" X358 Gold",Cameras and camcorders,Singapore
14998,22351,2013-05-10,279.0,12,3348.0,Online,Adventure Works LCD20W M240 Black,Computers,Rivers
14999,22352,2014-03-06,15.9,20,318.0,Store,Contoso USB Wave Multi-media Keyboard E280 Black,Computers,Taraba

1. Machine

In [12]:
Join_table = pd.get_dummies(Join_table, columns=['ChannelName'])

# Modify column data type 'Order Date '
Join_table['Order Date   '] = pd.to_datetime(Join_table['Order Date   '])

# Identify features and targets
features = ['Price', 'Order Qty', 'ChannelName_Online', 'Order Date   ']
target = 'Total'

# Separate X and y
X = Join_table[features]
y = Join_table[target]

# Divide the data into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Feature engineering
min_order_date = Join_table['Order Date   '].min()
X_train['Order Date   '] = (X_train['Order Date   '] - min_order_date).dt.days

# Create model Gradient Boosting Regressor
model = GradientBoostingRegressor(random_state=42)

# Train the model on the training set
model.fit(X_train, y_train)

# Sales forecast for the test set
# Feature engineering: Convert the 'Order Date ' column in the test set to a number of days
X_test['Order Date   '] = (X_test['Order Date   '] - min_order_date).dt.days
y_pred = model.predict(X_test)

# Evaluate the model's performance
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Sales forecast for new data
new_data = pd.DataFrame({
    'Price': [50],
    'Order Qty': [100],
    'ChannelName_Online': [1],
    'Order Date   ': ['2024-04-08']
})
new_data['Order Date   '] = pd.to_datetime(new_data['Order Date   '])
# Feature engineering: Calculate the number of days since a fixed time point
new_data['Order Date   '] = (new_data['Order Date   '] - min_order_date).dt.days

# Sales forecast for new data
predicted_total = model.predict(new_data)
print("Predicted Total Sales:", predicted_total)
average_daily_revenue = y_test.mean()

# Compare with model predictions
if average_daily_revenue > predicted_total:
    print("Average total revenue per day is", average_daily_revenue)
    print("Average daily revenue is greater than the model predicts. \n => Revenue tends to decrease")
else:
    print("Average total revenue per day is", average_daily_revenue)
    print("Average daily revenue is smaller than the model's prediction. \n => Revenue tends to increase.")

Mean Squared Error: 221439.0259591873
Predicted Total Sales: [3509.86993748]
Average total revenue per day is 3771.9893933333333
Average daily revenue is greater than the model predicts.
 => Revenue tends to decrease

In [13]:
# Tạo tập dữ liệu chỉ chứa các giao dịch được thực hiện qua phương thức "Store"
store_data = Join_table[Join_table['ChannelName_Store'] == 1]

# Tách X và y cho phương thức "Store"
X_store = store_data[features]
y_store = store_data[target]

# Chia dữ liệu thành tập huấn luyện và tập kiểm tra cho phương thức "Store"
X_train_store, X_test_store, y_train_store, y_test_store = train_test_split(X_store, y_store, test_size=0.2, random_state=42)

# Feature engineering: Tính số ngày kể từ một điểm thời gian cố định cho phương thức "Store"
X_train_store['Order Date   '] = (X_train_store['Order Date   '] - min_order_date).dt.days

# Khởi tạo mô hình Gradient Boosting Regressor cho phương thức "Store"
model_store = GradientBoostingRegressor(random_state=42)

# Huấn luyện mô hình trên tập huấn luyện cho phương thức "Store"
model_store.fit(X_train_store, y_train_store)

# Dự đoán doanh số cho tập kiểm tra cho phương thức "Store"
X_test_store['Order Date   '] = (X_test_store['Order Date   '] - min_order_date).dt.days
y_pred_store = model_store.predict(X_test_store)

# Đánh giá hiệu suất của mô hình cho phương thức "Store"
mse_store = mean_squared_error(y_test_store, y_pred_store)
print("Mean Squared Error for Store channel:", mse_store)

# Dự đoán doanh số cho dữ liệu mới cho phương thức "Store"
predicted_total_store = model_store.predict(new_data)
print("Predicted Total Sales for Store channel:", predicted_total_store)
average_daily_revenue_store = y_test_store.mean()

# So sánh với dự đoán của mô hình cho phương thức "Store"
if average_daily_revenue_store > predicted_total_store:
    print("Average total revenue per day for Store channel is", average_daily_revenue_store)
    print("Average daily revenue for Store channel is greater than the model predicts. \n => Revenue tends to decrease")
else:
    print("Average total revenue per day for Store channel is", average_daily_revenue_store)
    print("Average daily revenue for Store channel is smaller than the model's prediction. \n => Revenue tends to increase.")

Mean Squared Error for Store channel: 49416.54406528444
Predicted Total Sales for Store channel: [4471.68990829]
Average total revenue per day for Store channel is 3262.8743114672006
Average daily revenue for Store channel is smaller than the model's prediction.
 => Revenue tends to increase.

In [14]:
# Tạo tập dữ liệu chỉ chứa các giao dịch được thực hiện qua phương thức "Mobile Outlet"
mobile_outlet_data = Join_table[Join_table['ChannelName_Mobile Outlet'] == 1]

# Tách X và y cho phương thức "Mobile Outlet"
X_mobile_outlet = mobile_outlet_data[features]
y_mobile_outlet = mobile_outlet_data[target]

# Chia dữ liệu thành tập huấn luyện và tập kiểm tra cho phương thức "Mobile Outlet"
X_train_mobile_outlet, X_test_mobile_outlet, y_train_mobile_outlet, y_test_mobile_outlet = train_test_split(X_mobile_outlet, y_mobile_outlet, test_size=0.2, random_state=42)

# Feature engineering: Tính số ngày kể từ một điểm thời gian cố định cho phương thức "Mobile Outlet"
X_train_mobile_outlet['Order Date   '] = (X_train_mobile_outlet['Order Date   '] - min_order_date).dt.days

# Khởi tạo mô hình Gradient Boosting Regressor cho phương thức "Mobile Outlet"
model_mobile_outlet = GradientBoostingRegressor(random_state=42)

# Huấn luyện mô hình trên tập huấn luyện cho phương thức "Mobile Outlet"
model_mobile_outlet.fit(X_train_mobile_outlet, y_train_mobile_outlet)

# Dự đoán doanh số cho tập kiểm tra cho phương thức "Mobile Outlet"
X_test_mobile_outlet['Order Date   '] = (X_test_mobile_outlet['Order Date   '] - min_order_date).dt.days
y_pred_mobile_outlet = model_mobile_outlet.predict(X_test_mobile_outlet)

# Đánh giá hiệu suất của mô hình cho phương thức "Mobile Outlet"
mse_mobile_outlet = mean_squared_error(y_test_mobile_outlet, y_pred_mobile_outlet)
print("Mean Squared Error for Mobile Outlet channel:", mse_mobile_outlet)

# Dự đoán doanh số cho dữ liệu mới cho phương thức "Mobile Outlet"
predicted_total_mobile_outlet = model_mobile_outlet.predict(new_data)
print("Predicted Total Sales for Mobile Outlet channel:", predicted_total_mobile_outlet)
average_daily_revenue_mobile_outlet = y_test_mobile_outlet.mean()

# So sánh với dự đoán của mô hình cho phương thức "Mobile Outlet"
if average_daily_revenue_mobile_outlet > predicted_total_mobile_outlet:
    print("Average total revenue per day for Mobile Outlet channel is", average_daily_revenue_mobile_outlet)
    print("Average daily revenue for Mobile Outlet channel is greater than the model predicts. \n => Revenue tends to decrease")
else:
    print("Average total revenue per day for Mobile Outlet channel is", average_daily_revenue_mobile_outlet)
    print("Average daily revenue for Mobile Outlet channel is smaller than the model's prediction. \n => Revenue tends to increase.")

Mean Squared Error for Mobile Outlet channel: 4180383.6358515145
Predicted Total Sales for Mobile Outlet channel: [4874.57203966]
Average total revenue per day for Mobile Outlet channel is 5842.126610169492
Average daily revenue for Mobile Outlet channel is greater than the model predicts.
 => Revenue tends to decrease

In [15]:
# Tạo tập dữ liệu chỉ chứa các giao dịch được thực hiện qua phương thức "Reseller"
reseller_data = Join_table[Join_table['ChannelName_Reseller'] == 1]

# Tách X và y cho phương thức "Reseller"
X_reseller = reseller_data[features]
y_reseller = reseller_data[target]

# Chia dữ liệu thành tập huấn luyện và tập kiểm tra cho phương thức "Reseller"
X_train_reseller, X_test_reseller, y_train_reseller, y_test_reseller = train_test_split(X_reseller, y_reseller, test_size=0.2, random_state=42)

# Feature engineering: Tính số ngày kể từ một điểm thời gian cố định cho phương thức "Reseller"
X_train_reseller['Order Date   '] = (X_train_reseller['Order Date   '] - min_order_date).dt.days

# Khởi tạo mô hình Gradient Boosting Regressor cho phương thức "Reseller"
model_reseller = GradientBoostingRegressor(random_state=42)

# Huấn luyện mô hình trên tập huấn luyện cho phương thức "Reseller"
model_reseller.fit(X_train_reseller, y_train_reseller)

# Dự đoán doanh số cho tập kiểm tra cho phương thức "Reseller"
X_test_reseller['Order Date   '] = (X_test_reseller['Order Date   '] - min_order_date).dt.days
y_pred_reseller = model_reseller.predict(X_test_reseller)

# Đánh giá hiệu suất của mô hình cho phương thức "Reseller"
mse_reseller = mean_squared_error(y_test_reseller, y_pred_reseller)
print("Mean Squared Error for Reseller channel:", mse_reseller)

# Dự đoán doanh số cho dữ liệu mới cho phương thức "Reseller"
predicted_total_reseller = model_reseller.predict(new_data)
print("Predicted Total Sales for Reseller channel:", predicted_total_reseller)
average_daily_revenue_reseller = y_test_reseller.mean()

# So sánh với dự đoán của mô hình cho phương thức "Reseller"
if average_daily_revenue_reseller > predicted_total_reseller:
    print("Average total revenue per day for Reseller channel is", average_daily_revenue_reseller)
    print("Average daily revenue for Reseller channel is greater than the model predicts. \n => Revenue tends to decrease")
else:
    print("Average total revenue per day for Reseller channel is", average_daily_revenue_reseller)
    print("Average daily revenue for Reseller channel is smaller than the model's prediction. \n => Revenue tends to increase.")

Mean Squared Error for Reseller channel: 605251.2007793469
Predicted Total Sales for Reseller channel: [3208.59495078]
Average total revenue per day for Reseller channel is 3951.780756302521
Average daily revenue for Reseller channel is greater than the model predicts.
 => Revenue tends to decrease